<% provide(:title) %>

<div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
    <h2>
        This is the home page for the Vijay Tutorial
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <%#= link_to image_tag("kitten.jpg", alt: "Cute Kitten"),  'http://learnenough.com' %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),  'http://rubyonrails.org' %>

